body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbd2ff !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#homePageContainer {
  margin:auto;
  width:50%;
  position: absolute;
  top:5em;
  left: 25%;
  background-color: #fac5ff;
}


.homepageChild {
  position:relative;
  top:2em;
  height:8em;
  transform: translate(25%, 0);
}

.homepageInput {
  width:25em;
  height:3em;
}