body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(150,70,255,1) 0%, rgba(210,0,255,1) 0%, rgba(140,0,255,1) 72%, rgba(110,0,255,1) 100%) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#homePageContainer {
  margin:auto;
  width:50%;
  position: absolute;
  top:5em;
  left: 25%;
  background-color: #fac5ff;
}


.homepageChild {
  position:relative;
  top:2em;
  height:8em;
  transform: translate(25%, 0);
}

.homepageInput {
  width:25em;
  height:3em;
}

#backToHomepageButton {
  position:relative;
  width:30%;
  top:5em;
  padding-left: 1%;

}

#queue {
  height:30em;
  width:80%;
  background: linear-gradient(90deg, rgba(150,70,255,1) 0%, rgba(241,177,255,1) 0%, rgba(242,225,255,1) 49%, rgba(200,158,255,1) 100%);
  position: relative;
  top:2em;
  max-height: 30em;
  overflow: auto;
}

#roomContainer {
  display:flex;
}

#videoPlayer {
  background-color: rgb(255, 81, 241);
  width:100%;
  height:100%;
  position:absolute;
  text-align: center;
}

#videoPlayerContainer {
  position:relative;
  width:80%;
  padding-bottom:50%;
}

#videoPlayer h4{
  position:relative;
  top:50%;
}

#leftSideOfRoom{
  width:50%;
  padding-left: 1em;
}

#rightSideOfRoom{
  width:50%;
}

#roomHeader {
  position:relative;
  top:1em;
  height:5em;
}

#linkInput {
  position:relative;
  top:1em;
}

#connectedUsers {
  height:3em;

}

.videoInQueue {
  padding-top:1em;
  font-size:150%;
  position:relative;
  top:1em;
  bottom:1em;
  width:90%;
  margin-top: 1em;
  margin-left:auto;
  margin-right: auto;
  border:#000000;
  border-style:solid;
  border-radius: 1em;
  border-width: 2px;
  background: linear-gradient(90deg, rgba(150,70,255,1) 0%, rgba(241,177,255,1) 0%, rgba(255,95,222,1) 43%, rgba(200,158,255,1) 100%);
}

a:link {
  text-decoration: none;
  color:#000000;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

button:hover{
  background:#ffffff;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

input:hover{
  background:#ffffff;
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);

}

input {
  background:#fac5ff;
}

button{
  background:#fac5ff;
}

.indexInQueue {
  padding-left: 2%;
  padding-right: 2%;
}

#queueHeader {
  position:relative;
  top:1.5em;
  width:100%;
  text-align: center;  
}

#queueFooter {

  position:relative;
  width:100%;
  top: 3em;
  text-align: center; 
}

.imageInVideoInQueue {
  width: 25%;
  padding-right: 2%;
  padding-bottom:1em;
}

.titleInVideoInQueue {
  font-size:80%;
  width:60%;
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display:inline-block;
}

#linkInput {
  padding-left: 1%;
  padding-right: 1%;
  width:89%;
}